header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: arial, sans-serif;
  font-size: 13px;
}

header a {
  text-decoration: none;
  padding: 10px;
  color: #222222;
  opacity: 75%;
}

header a:hover {
  text-decoration: underline;
}

header img {
  max-width: 85%;
  opacity: 85%;
}

header button {
  background-color: #4285f4;
  color: white;
  border: 1px solid;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 10px;
}

.div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-left: auto;
}

main .div-3 {
  margin: auto;
  width: 290px;
  padding-top: 140px;
  padding-left: 20px;
}

main .div-4 {
  padding: 25px 0 25px;
  width: 580px;
  margin: auto;
}

main .div-4 input {
  width: 100%;
  padding: 9px 0;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-size: x-large;
  text-indent: 2em;
  position: relative;
  background: url(./images/google_microphone.png) no-repeat scroll;
  background-size: 3%;
  background-position-x: 530px;
  background-position-y: center;
}

main .div-4 i {
  position: absolute;
  padding: 15px 0 9px 15px;
  opacity: 30%;
}

main .div-5 {
  margin: auto;
  padding: 12px 0 0;
  width: 350px;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 14px;
}

main .div-5 a {
  text-decoration: none;
  padding: 11px 13px;
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  opacity: 70%;
}

main .div-5 a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
  padding: 11px 13px;
  margin: 0 5px;
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

main .div-6 {
  text-align: center;
  padding: 25px;
  font-family: arial, sans-serif;
  font-size: 13px;
}

footer {
  width: 99%;
  color: #222222;
  display: block;
  font-family: arial, sans-serif;
  font-size: 14px;
  bottom: 0;
  opacity: 60%;
  position: absolute;
}

footer a {
  text-decoration: none;
  color: black;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px 0;
}

.div-7 {
  padding-left: 20px;
  border: 0.1px solid rgba(0, 0, 0, 0.045);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px 20px;
}

.div-8 {
  display: block;
  padding-left: 20px;
}

.div-8 a {
  padding-right: 20px;
}

.div-9 {
  margin-left: auto;
  padding-right: 20px;
  display: block;
}

.div-9 a {
  padding-left: 20px;
}
/*# sourceMappingURL=style.css.map */