body {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/998c1c50-6aaa-4795-ab62-9190a025d529/b9883521-f439-4c16-b5eb-b1719e2fece1/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  border: none;
  background-size: cover;
  background-position: top;
  height: 100%;
  width: 100%;    /* Sayfadaki kaymalar bu sayede engellendi. */
  }

  div.bg {
    background-color:rgba(0, 0, 0, 0.300);
    margin:auto;  /* Arka planin ortali kalmasi bu sayede saglandi */
    width:90%   /* Arka planin sayfa degisse bile ayni oranda kücülmesi saglanmis oldu. */
  }

  /* Add styles to the form container */
  .container {
    padding: 20px 40px 15px 30px;
    background-color:rgba(0, 0, 0, 0.800);
    color: white;
    display: block;
    margin:auto;  /* Arka planin ortali kalmasi bu sayede saglandi */
    width:320px;   /* Form sayfasinin hep ayni genislikte kalmasini istedigim icin px degeri girdim */
    font-family: Arial;
    font-size: small;
  }
  #net {
    color:white ;
    font-family: 'Bowlby One SC', cursive;
    font-size: 42px;
  }
    #flix {
    color:rgb(255, 0, 0) ;
    font-family: 'Bowlby One SC', cursive;
    font-size: 42px;
  }

h1 {
  letter-spacing: 1px;
  text-align: center; 
  padding:15px 0 0 0; 
  margin-bottom: 0
}

h3 {
    color: white;
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center; 
    margin-top:10px  ;
  }

  label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  /* Full-width input fields */
  input[type=text], input[type=number], input[type=email]  {
    width: 95%;
    padding: 15px;
    margin: 15px 0 15px 0;
    border: none;
    background:white;
  }  
  
input[type=submit] {
  padding:10px 30px; 
  background:rgb(255, 0, 0); 
  border:0 none;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-size: medium;
  margin-left:100px;    /* submit butonunun ortali olmasi icin yapildi */
  width:40%;
  margin-top: 10px;
}